{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Index des Clubs </h3>

    {% if droitACreerUnCLub %}
        <a href="{{ path('app_admin_club_new') }}" class="btn btn-sm btn-success mb-3">Créer un nouveau club</a>
        
        {% if app.request.get('archived') == null or app.request.get('archived') == 'false' %}    
        <a href="{{ path('app_admin_club_index', {'archived': 'true'}) }}" class="btn btn-sm btn-secondary mb-3">Club archivés</a>
        {% else %}     
            <a href="{{ path('app_admin_club_index', {'archived': 'false'}) }}" class="btn btn-sm btn-secondary mb-3">Clubs</a>
        {% endif %}

    {% endif %}

    <div class="card my-3 p-3 shadow">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Correspondants</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% set iNbreClubs = 1 %}
                {% for club in clubs %}
                    <tr>
                        <td>{{ iNbreClubs }}</td>
                        <td>{{ club.name|title }}</td>
                        <td>{{ club.correspondents }}</td>
                        <td>
                            <a href="{{ path('app_admin_club_edit', {'id': club.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% if droitACreerUnCLub %}
                                <a href="{{ path('app_admin_club_show', {'id': club.id}) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% set iNbreClubs = iNbreClubs + 1 %}
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}
