{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Club </h3>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_club_index') }}" class="btn btn-sm btn-secondary">Retour liste Clubs</a></div>
        <div class="me-2"><a href="{{ path('app_admin_club_edit', {'id': club.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>
        <div class="mx-5"><a href="" class="btn "><s>Archiver</s></a></div>
    </div>
    
    

    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ club.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ club.name }}</td>
                    </tr>
                    <tr>
                        <th>Correspondents</th>
                        <td>{{ club.correspondents }}</td>
                    </tr>
                    <tr>
                        <th>Adress</th>
                        <td>{{ club.adress }}</td>
                    </tr>
                    <tr>
                        <th>PhonePrimary</th>
                        <td>{{ club.phonePrimary }}</td>
                    </tr>
                    <tr>
                        <th>PhoneSecondary</th>
                        <td>{{ club.phoneSecondary }}</td>
                    </tr>
                    <tr>
                        <th>EmailPrimary</th>
                        <td>{{ club.emailPrimary }}</td>
                    </tr>
                    <tr>
                        <th>EmailSecondary</th>
                        <td>{{ club.emailSecondary }}</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>{{ club.fax }}</td>
                    </tr>
                    <tr>
                        <th>WebSite</th>
                        <td>{{ club.webSite }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    

{% endblock %}
