{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Index des Utilisateurs </h3>
    

    {% if manageUsersAuthorisation %}
        <div class="d-flex ">
            <div class="me-3">
                <a href="{{ path('app_admin_user_new') }}" class="btn btn-sm btn-success mb-3">Créer un nouvel utilisateur</a>
            </div>
            
            {% if app.request.get('archived') == null or app.request.get('archived') == 'false' %}    
                <a href="{{ path('app_admin_user_index', {'archived': 'true'}) }}" class="btn btn-sm btn-secondary mb-3">Utilisateurs archivées</a>
            {% else %}     
                <a href="{{ path('app_admin_user_index', {'archived': 'false'}) }}" class="btn btn-sm btn-secondary mb-3">Liste des utilisateurs</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="card my-3 p-3 shadow">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Nom</th>
                        <th>Roles</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if 'ROLE_HULK' in user.roles %}  
                    {# On n'affiche pas le super admin !!! si on trouve ce role on laisse vide (ca passe à l'utilisateur suivant #}
                    {% else %}
                        <tr  {% if 'ROLE_CLUB' not in user.roles %} class="text-danger" {% endif %}>
                            <td>{% if 'ROLE_CLUB' not in user.roles %} <i class="fa-solid fa-star"></i> {% else %} <i class="fa-solid fa-person"></i> {% endif %}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                            <td>

                                {% if 'ROLE_SUPERMAN' in user.roles %}  
                                    Président
                                {% endif %}
                                {% if 'ROLE_DIRECTEUR_TECHNIQUE' in user.roles %}  
                                    Directeur Technique
                                {% endif %}
                                {% if 'ROLE_SECRETAIRE' in user.roles %}  
                                    Secrétaire
                                {% endif %}
                                {% if 'ROLE_LICENCE' in user.roles %}  
                                    Licence
                                {% endif %}
                                {% if 'ROLE_CLUB' in user.roles %}  
                                    Club
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{{ path('app_admin_user_show', {'id': user.id}) }}"class="mx-2"><i class="fa-solid fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="5">Pas d'utilisateur enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
