{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Utilisateur </h3>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_user_index') }}" class="btn btn-sm btn-secondary">Retour liste des utilisateurs</a></div>
        <div class="me-2"><a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>

  
        {% if is_granted('ROLE_DIRECTEUR_SUPERMAN') and 'ROLE_SUPERMAN' not in user.roles %}
            <div class="mx-5">{{ include('admin/user/_archived_form.html.twig') }}</div>
        {% endif %}

    </div>
    
    <div class="card my-3 p-3 shadow"> 

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>pseudo</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>
                            {% if 'ROLE_SUPERMAN' in user.roles %}  
                                Président
                            {% endif %}
                            {% if 'ROLE_DIRECTEUR_TECHNIQUE' in user.roles %}  
                                Directeur Technique
                            {% endif %}
                            {% if 'ROLE_SECRETAIRE' in user.roles %}  
                                Secrétaire
                            {% endif %}
                            {% if 'ROLE_LICENCE' in user.roles %}  
                                Licence
                            {% endif %}
                            {% if 'ROLE_CLUB' in user.roles %}  
                                Club
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
