{% extends 'base.html.twig' %}

{% block title %}Licence index{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Demandes de Licences </h3>

    <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header border border-black">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Aide
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        <i class="fa-solid fa-pen-to-square text-danger"></i> Modifier la licence <br/>
                        {% if 'ROLE_CLUB' in app.user.roles %}
                            <i class="fa-solid fa-eye text-danger"></i> Refaire une demande de licence qui a été rejetée <br/>
                        {% else %}
                            <i class="fa-solid fa-eye text-danger"></i> Valider / Rejeter la licence <br/>  
                        {% endif %}
                        Les Licences <bouton class="btn btn-warning btn-sm">En cours</bouton> apparaissent en premier<br/>
                        Le club recoit une licence comme <bouton class="btn btn-danger btn-sm">Rejetée</bouton>. Cela siginfie qu'il faut changer quelque chose avant de resoumettre la licence.<br/>
                        Une fois modifiée, le club peut repasser une licence <bouton class="btn btn-danger btn-sm">Rejetée</bouton> en une licence <bouton class="btn btn-warning btn-sm">En cours</bouton> dans l'action <i class="fa-solid fa-eye text-danger"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex ">
        <div class="me-3">
            <a href="{{ path('app_admin_licence_new') }}" class="btn btn-sm btn-success mb-3">Créer une nouvelle licence</a>
        </div>
        <div >
            <a href="" class="btn btn-sm btn-secondary mb-3">Licences Archivées</a>
        </div>
    </div>

    <div class="card my-3 p-3 shadow">
        <form action="{{ path('app_admin_licence_index') }}" method="GET" >
            <label for="saison" class="form-label">Saison</label>
            <select class="form-select" id="saison" name="saison" >
                {# <option selected disabled value="1">Choose...</option> #}

                {% for season in seasons %}
                    <option value="{{season.id}}" {{ season.id == app.request.get('saison') or season.id == selectedSeason.id  ? 'selected' }}>{{season.name}}</option>
                {% endfor %}
            </select>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-sm mt-3">Envoyer</button>
            </div>
        </form>
    </div>
    
    <div class="card my-3 p-3 shadow">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    {% set displayTd = 'ROLE_CLUB' in app.user.roles ? 'd-none' %}
                    <tr>
                        <th class="{{displayTd}}">Club</th>
                        <th>Dossard</th>
                        <th>Danseurs</th>
                        <th>Catégorie</th>
                        <th>Status</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set status = [
                        {
                            'status' : 'En cours', 
                            'bgColor': 'bg-warning',
                            'textColor': ''
                        }, 
                        {
                            'status' :'Validée', 
                            'bgColor':'bg-success',
                            'textColor': 'text-white'
                        }, 
                        {
                            'status' :'Rejetée', 
                            'bgColor':'bg-danger',
                            'textColor': 'text-white'
                        }
                    ] 
                    %}
                    {% for licence in licences %}
                        <tr>
                            <td class="{{displayTd}}">{{ licence.club }}</td>
                            <td>{{ licence.dossard }}</td>
                            <td>
                                {% set retourLigne = [4,8,12,16,20,24,28] %}
                                {% set iDanseurs = 1 %} <!-- pour la virgule entre les danseurs -->
                                {% set separateur = ',' %}
                                {% for danseur in licence.danseurs %}
                                    {{ danseur.firstName }} {{ danseur.lastName }}{{licence.danseurs|length > iDanseurs ? separateur : null}}
                                    {{ iDanseurs in retourLigne ? '<br/>' : ''}}
                                    {% set iDanseurs = iDanseurs + 1 %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ licence.category }}
                            </td>
                            <td class="{{ status[licence.status].bgColor }} {{ status[licence.status].textColor }} text-center">
                                {{ status[licence.status].status }}
                            </td>
                            <td>
                                {% if licence.status != 1 %}
                                    <a href="{{ path('app_admin_licence_edit', {'id': licence.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                {% endif %}

                                <a href="{{ path('app_admin_licence_show', {'id': licence.id}) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
