{% extends 'base.html.twig' %}

{% block title %}Licence index{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Demandes de Licences </h3>
    {# Aide #}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-secondary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Aide
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999;" >
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aide</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Menu</h6>
                    <p>
                        <i class="fa-solid fa-pen-to-square text-danger"></i> Modifier la licence <br/>
                        {% if 'ROLE_CLUB' in app.user.roles %}
                            <i class="fa-solid fa-eye text-danger"></i> Refaire une demande de licence qui a été rejetée <br/>
                        {% else %}
                            <i class="fa-solid fa-eye text-danger"></i> Valider / Rejeter la licence <br/>  
                        {% endif %}
                    </p>
                    <h6>Lecture du tableau</h6>
                    <p>
                        Les Licences <bouton class="btn btn-warning btn-sm">En cours</bouton> apparaissent en premier<br/>
                    </p>
                    <h6>Fonctionnement</h6>
                    <ul>
                        <li>Le club créé sa licence</li>
                        <li>La fédération étudie la licence et la valide ou la rejette</li>
                    </ul>

                    <h6>Licence Validée</h6>
                        <p>Une licence Validée n'est plus modifiable par le club</p>

                    <h6>Licence Rejetée</h6>
                    <ul>
                        <li>Le club reçoit une licence comme <bouton class="btn btn-danger btn-sm">Rejetée</bouton>. Cela siginfie qu'il faut changer quelque chose avant de resoumettre la licence</li>
                        <li>Une fois la licence modifiée, le club peut passer la licence  <bouton class="btn btn-danger btn-sm">Rejetée</bouton> en une licence <bouton class="btn btn-warning btn-sm">En cours</bouton> dans l'action <i class="fa-solid fa-eye text-danger"></i></li>
                        <li>La fédération peut maintenant réétudier la demande car elle ré-apparait comme <bouton class="btn btn-warning btn-sm">En cours</bouton> dans sa liste.</li>
                    </ul>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
                </div>
            </div>
        </div>
    {# Fin Aide #}


    {# Bouton de création et navigation en cours / validée / rejetée #}
            <div class="me-3 d-flex justify-content-between">
                <div>
                    <a href="{{ path('app_admin_licence_new') }}" class="btn btn-sm btn-success mb-3">Créer une nouvelle licence</a>
                </div>
                <div>
                    <a href="{{ path('app_admin_licence_validees') }}" class="btn btn-sm btn-secondary mb-3">Les licences validées par catégories</a>
                </div>
            </div>
    {# FIN - Bouton de création et navigation en cours / validée / rejetée #}



    <div class="card my-3 p-3 shadow">
        <form action="{{ path('app_admin_licence_index',{}|merge(app.request.query.all)) }}" method="GET" >
            <div>
                <label for="saison" class="form-label">Saison</label>
                <select class="form-select" id="saison" name="saison" >
                    {# <option selected disabled value="1">Choose...</option> #}
                    {% for season in seasons %}
                        <option value="{{season.id}}" {{ season.id == app.request.query.get('saison') or season.id == selectedSeason.id  ? 'selected' }}>{{season.name}}</option>
                    {% endfor %}
                </select>
            </div>
            {% if 'ROLE_CLUB' not in app.user.roles %}
            <div class="mt-3">
                <label for="club" class="form-label">Club</label>
                <select class="form-select" id="club" name="club" >
                    <option value="all">Tous les clubs</option>
                    {% for club in clubs %}
                        <option value="{{club.id}}" {{ club.id == app.request.query.get('club') ? 'selected' }}>{{club.name}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="mt-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" name="status" >
                    <option value="all" {{ app.request.query.get('status') == 'all' ? 'selected' }}>Tous les status</option>
                    <option value="cours" {{ app.request.query.get('status') == 'cours' ? 'selected' }}>En Cours</option>
                    <option value="validees" {{ app.request.query.get('status') == 'validees' ? 'selected' }}>Validées</option>
                    <option value="rejetees" {{ app.request.query.get('status') == 'rejetees' ? 'selected' }}>Rejetées</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-sm mt-3">Envoyer</button>
            </div>
        </form>
    </div>
    
    <div class="card my-3 p-3 shadow">

        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(licences, 'modules/pagination.html.twig') }}
            </div>
        </div>


        <div class="table-responsive">
            <table class="table">
                <thead>
                    {% set displayTd = 'ROLE_CLUB' in app.user.roles ? 'd-none' %}
                    <tr>
                        <th class="{{displayTd}}">Club</th>
                        <th>Dossard</th>
                        <th>Danseurs</th>
                        <th>Catégorie</th>
                        <th>Status</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set status = [
                        {
                            'status' : 'En cours', 
                            'bgColor': 'bg-warning',
                            'textColor': ''
                        }, 
                        {
                            'status' :'Validée', 
                            'bgColor':'bg-success',
                            'textColor': 'text-white'
                        }, 
                        {
                            'status' :'Rejetée', 
                            'bgColor':'bg-danger',
                            'textColor': 'text-white'
                        }
                    ] 
                    %}
                    {% for licence in licences %}
                        <tr>
                            <td class="{{displayTd}}">{{ licence.club }}</td>
                            <td>{{ licence.dossard }}</td>
                            <td>
                                {% set retourLigne = [4,8,12,16,20,24,28] %}
                                {% set iDanseurs = 1 %} <!-- pour la virgule entre les danseurs -->
                                {% set separateur = ',' %}
                                {% for danseur in licence.danseurs %}
                                    {{ danseur.firstName }} {{ danseur.lastName }}{{licence.danseurs|length > iDanseurs ? separateur : null}}
                                    {{ iDanseurs in retourLigne ? '<br/>' : ''}}
                                    {% set iDanseurs = iDanseurs + 1 %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ licence.category }}
                            </td>
                            <td class="{{ status[licence.status].bgColor }} {{ status[licence.status].textColor }} text-center">
                                {{ status[licence.status].status }}
                            </td>
                            <td>
                                {% if licence.status != 1 %}
                                    <a href="{{ path('app_admin_licence_edit', {'id': licence.id}|merge(app.request.query.all) )}}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                {% endif %}

                                <a href="{{ path('app_admin_licence_show', {'id': licence.id}|merge(app.request.query.all) )}}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(licences, 'modules/pagination.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
