{% extends 'base.html.twig' %}

{% block title %}Licence{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Demande de Licence </h3>

    <p class="fs-4">
        {{ licence.category }} - {{ licence.category.minAge}} ans à {{ licence.category.maxAge}} ans - Min: {{ licence.category.nbMin}} Max: {{ licence.category.nbMax}}
    </p>
    

    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_licence_index',{}|merge(app.request.query.all) ) }}" class="btn btn-sm btn-secondary">Retour liste Licences</a></div>


            

            {% if licence.status != 1 %} 
                <div class="me-2"><a href="{{ path('app_admin_licence_edit', {'id': licence.id}|merge(app.request.query.all) ) }}" class="btn btn-sm btn-success">Modifier</a></div>
            <!-- Si tu es un club et que dans saison, la licence validée ne peux plus être modifiée -->
            {% elseif 'ROLE_CLUB' in  app.user.roles and licence.Season.isModifiedValidatedLicence %}
                <div class="alert alert-secondary px-3 py-1" role="alert">
                    Fdo a bloqué la modification des licences déjà validées
                </div>
            {% else %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Modifier
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modification de licence validée !</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Attention: Si vous modifiez une licence validée, celle-ci devra être revalidée par l'équipe FDO
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('app_admin_licence_edit', {'id': licence.id}|merge(app.request.query.all) ) }}" class="btn btn-sm btn-success">Modifier</a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endif %} 

        {# Archive
            <div class="mx-5">{{ include('admin/licence/_archived_form.html.twig') }}</div>  
        #}
        {# Suppression
            <div class="mx-5">{{ include('admin/season/_delete_form.html.twig') }} </div> 
        #}
    </div>
        
    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Dossard</th>
                        <td>{{ licence.dossard }}</td>
                    </tr>
                    <tr>
                        {% set status = [
                            {
                                'status' : 'En cours', 
                                'bgColor': 'bg-warning',
                                'textColor': 'text-warning'
                            }, 
                            {
                                'status' :'Validée', 
                                'bgColor':'bg-success',
                                'textColor': 'text-success'
                            }, 
                            {
                                'status' :'Rejetée', 
                                'bgColor':'bg-danger',
                                'textColor': 'text-danger'
                            }
                        ] 
                        %}
                        <th>Status</th>
                        <td class="{{ status[licence.status].textColor }}">
                            {{ status[licence.status].status }}
                        </td>
                    </tr>
                    <tr>
                        <th>Obligations de la catégorie</th>
                        <td>
                            {{ licence.category }} - {{ licence.category.minAge}} ans à {{ licence.category.maxAge}} ans - Min: {{ licence.category.nbMin}} Max: {{ licence.category.nbMax}}
                        </td>
                    </tr>
                    <tr>
                        <th>Danseurs</th>
                        <td>
                        {% set i = 1 %}
                        {% for danseur in licence.danseurs %}
                            {% set age = date().diff(date(danseur.birthday)).y %}
                            {{ i }}. <span>{{ danseur }} - {{ danseur.birthday|date('d/m/Y')}} - {{ age }} ans</span><br><hr>
                        {% set i = i + 1 %} 
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Modifier l'état de la licence</th>
                        {% if 'ROLE_CLUB' not in app.user.roles %}
                            <td>
                                <a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 1 }|merge(app.request.query.all) )}}" class="btn btn-success mx-5">Valider la licence</a>
                                <a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 2 }|merge(app.request.query.all) )}}" class="btn btn-danger">Rejeter la licence</a>
                            </td>
                        {% endif %} 
                        {% if 'ROLE_CLUB' in app.user.roles %}
                            <td>
                                {# // soit le status est rejeté #}
                                {% if licence.status == 2 %}
                                    <a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 0 } )}}" class="btn btn-success">Renvoyer demande</a>
                                {% else %}
                                    {# // soit il est validé #}
                                    <i>Si le status est rejeté, un bouton renvoyer demande apparaîtra ! Vous pourrez alors modifier votre demande et la renvoyer.<i>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-5">
            {{ include('admin/licence_comment/_form.html.twig') }}
        </div>
        <div>
            {% for comment in comments %}
            <div class="card shadow p-3 mb-3">
                <span class="fs-5"><b>{{ comment.user.firstname }} {{ comment.user.Lastname }}</b> 
                    {% if comment.user == app.user %}
                        <a href="{{ path('app_admin_licence_comment_edit', {'id': comment.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                    {% endif %}
                </span>
                <span class="fst-italic">créé le {{ comment.createdAt|date('d-m-Y') }} à {{ comment.createdAt|date('H:i') }}</span>
                {% if comment.updatedAt %}
                    <span class="fst-italic">modifié le {{ comment.updatedAt|date('d-m-Y') }} à {{ comment.updatedAt|date('H:i') }}</span>
                {% endif %}
                <p class="mt-3 fs-5">
                    {{ comment.comment }}
                </p>

            </div>
            {% else %}
                Il n'y a pas de commentaire associé à cette licence
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}
