{% extends 'base.html.twig' %}

{% block title %}Licence{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Demande de Licence </h3>

    <p class="fs-4">
        {{ licence.category }} - {{ licence.category.minAge}} ans à {{ licence.category.maxAge}} ans - Min: {{ licence.category.nbMin}} Max: {{ licence.category.nbMax}}
    
    </p>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_licence_index') }}" class="btn btn-sm btn-secondary">Retour liste Licences</a></div>
        <div class="me-2"><a href="{{ path('app_admin_licence_edit', {'id': licence.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>
        {# Archive
            <div class="mx-5">{{ include('admin/licence/_archived_form.html.twig') }}</div>  
        #}
        {# Suppression
            <div class="mx-5">{{ include('admin/season/_delete_form.html.twig') }} </div> 
        #}
    </div>
        
    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ licence.id }}</td>
                    </tr>
                    <tr>
                        <th>Dossard</th>
                        <td>{{ licence.dossard }}</td>
                    </tr>
                    <tr>
                    {% set status = [
                        {
                            'status' : 'En cours', 
                            'bgColor': 'bg-warning',
                            'textColor': 'text-warning'
                        }, 
                        {
                            'status' :'Validée', 
                            'bgColor':'bg-success',
                            'textColor': 'text-success'
                        }, 
                        {
                            'status' :'Rejetée', 
                            'bgColor':'bg-danger',
                            'textColor': 'text-danger'
                        }
                    ] 
                    %}
                        <th>Status</th>
                        <td class="{{ status[licence.status].textColor }}">
                            {{ status[licence.status].status }}
                        </td>
                    </tr>
                    <tr>
                        <th>Obligations de la catégorie</th>
                        <td>
                            {{ licence.category }} - {{ licence.category.minAge}} ans à {{ licence.category.maxAge}} ans - Min: {{ licence.category.nbMin}} Max: {{ licence.category.nbMax}}
                        </td>
                    </tr>
                    <tr>
                        <th>Danseurs</th>
                        <td>
                        {% set i = 1 %}
                        {% for danseur in licence.danseurs %}
                            {% set age = date().diff(date(danseur.birthday)).y %}
                            {{ i }}. <span>{{ danseur }} - {{ danseur.birthday|date('d/m/Y')}} - {{ age }} ans</span><br><hr>
                        {% set i = i + 1 %} 
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Modifier l'état de la licence</th>
                        {% if 'ROLE_CLUB' not in app.user.roles %}
                            <td><a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 1 } )}}" class="btn btn-success mx-5">Valider la licence</a><a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 2 } )}}" class="btn btn-danger">Rejeter la licence</a></td>
                        {% endif %} 
                        {% if 'ROLE_CLUB' in app.user.roles %}
                            <td>
                                {# // soit le status est rejeté #}
                                {% if licence.status == 2 %}
                                    <a href="{{ path('app_admin_licence_validation', {'id': licence.id, 'validation' : 0 } )}}" class="btn btn-success">Renvoyer demande</a>
                                {% else %}
                                    {# // soit il est validé #}
                                    <i>Si le status est rejeté, un bouton renvoyer demande apparaîtra ! Vous pourrez alors modifier votre demande et la renvoyer.<i>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
