{% extends 'base.html.twig' %}

{% block title %}Licence{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Licence </h3>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_licence_index') }}" class="btn btn-sm btn-secondary">Retour liste Licences</a></div>
        <div class="me-2"><a href="{{ path('app_admin_licence_edit', {'id': licence.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>
        {# Archive
            <div class="mx-5">{{ include('admin/licence/_archived_form.html.twig') }}</div>  
        #}
        {# Suppression
            <div class="mx-5">{{ include('admin/season/_delete_form.html.twig') }} </div> 
        #}
    </div>
        
    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ licence.id }}</td>
                    </tr>
                    <tr>
                        <th>Dossard</th>
                        <td>{{ licence.dossard }}</td>
                    </tr>
                    <tr>
                    {% set status = [
                        {
                            'status' : 'En cours', 
                            'bgColor': 'bg-warning',
                            'textColor': 'text-warning'
                        }, 
                        {
                            'status' :'Validée', 
                            'bgColor':'bg-success',
                            'textColor': 'text-success'
                        }, 
                        {
                            'status' :'Rejetée', 
                            'bgColor':'bg-danger',
                            'textColor': 'text-danger'
                        }
                    ] 
                    %}
                        <th>Status</th>
                        <td class="{{ status[licence.status].textColor }}">
                            {{ status[licence.status].status }}
                        </td>
                    </tr>
                    <tr>
                        <th>Danseurs</th>
                        <td>
                        {% set i = 1 %}
                        {% for danseur in licence.danseurs %}
                            {% set age = date().diff(date(danseur.birthday)).y %}
                            {{ i }}. <span>{{ danseur }} - {{ danseur.birthday|date('d/m/Y')}} - {{ age }} ans</span><br><hr>
                        {% set i = i + 1 %} 
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Archived</th>
                        <td>{{ licence.archived ? 'Oui' : 'Non' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
