{% extends 'base.html.twig' %}

{% block title %}OrganizationTeam index{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5"> Dirigeants </h3>
    
    <p class="fs-4">Tous les dirigeants à afficher dans le module qui se situe en page d'accueil.</p>

    <a href="{{ path('app_admin_organization_team_new') }}" class="btn btn-sm btn-success mb-3">Créer un nouveau dirigeant</a>

    <div class="card my-3 p-3 shadow">
        <div class="table-responsive">


            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>OrganizationRole</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for organization_team in organization_teams %}
                    <tr>
                        <td>{{ organization_team.id }}</td>
                        <td>{{ organization_team.name }}</td>
                        <td>{{ organization_team.organizationRole }}</td>
                        <td>
                            <a href="{{ path('app_admin_organization_team_edit', {'id': organization_team.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('app_admin_organization_team_show', {'id': organization_team.id}) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
