{% extends 'base.html.twig' %}

{% block title %}OrganizationTeam index{% endblock %}

{% block body %}
<div class="container">
    <h2>OrganizationTeam index</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>OrganizationRole</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization_team in organization_teams %}
            <tr>
                <td>{{ organization_team.id }}</td>
                <td>{{ organization_team.name }}</td>
                <td>{{ organization_team.organizationRole }}</td>
                <td>
                    <a href="{{ path('app_admin_organization_team_show', {'id': organization_team.id}) }}">show</a>
                    <a href="{{ path('app_admin_organization_team_edit', {'id': organization_team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_organization_team_new') }}">Create new</a>
</div>
{% endblock %}
