{% extends 'base.html.twig' %}

{% block title %}OrganizationTeam{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Dirigeants </h3>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_organization_team_index') }}" class="btn btn-sm btn-secondary">Retour liste Dirigeants</a></div>
        <div class="me-2"><a href="{{ path('app_admin_organization_team_edit', {'id': organization_team.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>
        <div class="mx-5"> {{ include('admin/organization_team/_delete_form.html.twig') }}</div>
    </div>
    
    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ organization_team.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ organization_team.name }}</td>
                    </tr>
                    <tr>
                        <th>Role dans l'organisation</th>
                        <td>{{ organization_team.organizationRole }}</td>
                    </tr>
                    <tr>
                    <td>Photo</td>
                    <td><img src="{{ vich_uploader_asset(organization_team, 'imageFile')}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}
