{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}


<div class="container my-5">

    <h3 class="my-5">Index des Saisons Archivées</h3>
    
    <div class="d-flex ">
        <div class="me-3">
            <a href="{{ path('app_admin_season_index') }}" class="btn btn-sm btn-secondary">Retour liste Saisons</a>
        </div>
    </div>
    <div class="card my-3 p-3 shadow">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Saison Actuelle</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for season in seasons|sort((a, b) => a.name <=> b.name) %}
                    <tr>
                        <td>{{ season.id }}</td>
                        <td>{{ season.name }}</td>
                        <td {{ season.isCurrentSeason ? 'class= "bg-success text-white"' : ''}}>{{ season.isCurrentSeason ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('app_admin_season_edit', {'id': season.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('app_admin_season_show', {'id': season.id}) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Il n'y a pas de saison archivée pour le moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
