{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Saison </h3>
    
    <div class="d-inline-flex">
        <div class="me-2"><a href="{{ path('app_admin_season_index') }}" class="btn btn-sm btn-secondary">Retour liste Saisons</a></div>
        <div class="me-2"><a href="{{ path('app_admin_season_edit', {'id': season.id}) }}" class="btn btn-sm btn-success">Modifier</a></div>
        <div class="mx-5">{{ include('admin/season/_archived_form.html.twig') }}</div> 
        {#         
            <div class="mx-5">{{ include('admin/season/_delete_form.html.twig') }}</div> 
        #}
    </div>
        
    <div class="card my-3 p-3 shadow"> 
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ season.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ season.name }}</td>
                    </tr>
                    <tr>
                        <th>Saison Actuelle</th>
                        <td>{{ season.isCurrentSeason ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Saison Archivée</th>
                        <td>{{ season.isArchived ? 'Oui' : 'Non' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
