<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Danza - Dancing School and Ballet Studio - Home Two</title>
        <meta name="author" content="Themeholy">
        <meta name="description" content="Danza - Dancing School and Ballet Studio">
        <meta name="keywords" content="Danza - Dancing School and Ballet Studio">
        <meta name="robots" content="INDEX,FOLLOW">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicons - Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!--==============================
        Google Fonts
        ============================== -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Norican&family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

        {% block stylesheets %}
        <!--==============================
            All CSS File
        ============================== -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <!-- Fontawesome Icon -->
        <link rel="stylesheet" href="{{asset('assets/css/fontawesome.min.css')}}">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.min.css')}}">
        <!-- Slick Slider -->
        <link rel="stylesheet" href="{{asset('assets/css/slick.min.css')}}">
        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">   
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!--==============================
            Preloader
        ==============================-->
{#         <div class="preloader ">
            <button class="th-btn preloaderCls">Cancel Preloader </button>
            <div class="preloader-inner">
                <img src="{{asset('assets/img/logo.svg')}}" alt="Danza">
                <span class="loader"></span>
            </div>
        </div> #}

        {% include './partials/menu.html.twig' %}
        {% include './partials/header.html.twig' %}

        {% block body %}
        
        {% endblock %}

        {% include './partials/footer.html.twig' %}


            <!--********************************
			Code End  Here 
            ******************************** -->

            <!-- Scroll To Top -->
            <div class="scroll-top">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
                    </path>
                </svg>
            </div>

            <!--==============================
                All Js File
            ============================== -->
            <!-- Jquery -->
            <script src="{{asset('assets/js/vendor/jquery-3.6.0.min.js')}}"></script>
            <!-- Slick Slider -->
            <script src="{{asset('assets/js/slick.min.js')}}"></script>
            <!-- Bootstrap -->
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <!-- Magnific Popup -->
            <script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
            <!-- Counter Up -->
            <script src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
            <!-- Range Slider -->
            <script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
            <!-- Isotope Filter -->
            <script src="{{asset('assets/js/imagesloaded.pkgd.min.js')}}"></script>
            <!-- Isotope pkgd -->
            <script src="{{asset('assets/js/isotope.pkgd.min.js')}}"></script>
            <!-- Tweenmax File -->
            <script src="{{asset('assets/js/tweenmax.min.js')}}"></script>
            <!-- Tweenmax File -->
            <script src="{{asset('assets/js/nice-select.min.js')}}"></script>
            <!-- Main Js File -->
            <script src="{{asset('assets/js/main.js')}}"></script>

    </body>
</html>