{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

    {{ form_row(form.season) }}
    {{ form_row(form.championshipDate) }}
    {{ form_row(form.championshipInscriptionsLimitDate) }}
    {{ form_row(form.organizingClub) }}
    {{ form_row(form.place) }}

    <div class="row mt-3">
    
        <div class="form-group col-12 ms-3 mt-3">
 
        {% set curentChampionship = championship.isCurrentChampionship ? 'd-none' : ''  %}
            <div class="{{ curentChampionship }}">
                {{ form_widget(form.isCurrentChampionship) }}
                {{ form_label(form.isCurrentChampionship) }}

                <small>{{ form_help(form.isCurrentChampionship) }}</small>

                <div class="form-error">
                    {{ form_errors(form.isCurrentChampionship) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
    
        <div class="form-group col-12 ms-3 mt-3">
 
            <div>
                {{ form_widget(form.openRegistration) }}
                {{ form_label(form.openRegistration) }}

                <small>{{ form_help(form.openRegistration) }}</small>

                <div class="form-error">
                    {{ form_errors(form.openRegistration) }}
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-success btn btn-success my-5">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
