{% extends 'base.html.twig' %}

{% block title %}Championship index{% endblock %}

{% block body %}


<div class="container my-5">

    <h3 class="my-5">Index des Championnats</h3>
    
    <a href="{{ path('app_admin_championship_new') }}" class="btn btn-sm btn-success mb-3">Créer un nouveau Championnat</a>
    
    <div class="card my-3 p-3 shadow">

        <div class="my-5">
        <b>Inscriptions:</b> <br>
        <i class="fa-solid fa-check text-success"></i>&nbsp;&nbsp;   Les clubs  peuvent inscrire leurs licenciés sous réserve que la date limite ne soit pas dépassée.<br>
        <i class="fa-solid fa-x text-danger"></i>&nbsp;&nbsp;   Les clubs ne peuvent pas encore inscrire leurs licenciés. Le championnat n'apparaît pas dans la liste "inscription championnat".
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Actuel</th>
                        <th>Inscriptions</th>
                        <th>Club</th>
                        <th>Date</th>
                        <th>Limite</th>
                        <th >Lieu</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% set dateLimiteExpireCssClass = '' %}
                {% for championship in championships|sort((a, b) => b.championshipDate <=> a.championshipDate) %}
                    {# MISE EN FORME DE LA CASE LA LIMITE D'INSCRIPTION A EXPIRE #}
                    {% set now =  "now"|date("Y-m-d") %}
                    {% set dateLimite = championship.championshipInscriptionsLimitDate|date("Y-m-d") %}
                    {# si la date limite n'est pas dépassée on va regarder si il reste plus de 7 jours #}
                    {% if dateLimite > now %}
                        {% set difference = date( now | date() ).diff(date(dateLimite)) %}
                        {% set dateLimiteExpireCssClass = difference.days < 7 ? 'bg-warning text-dark' : '' %}   
                    {% else %}
                    {# si la date limite est dépassée on va mettre la case en rouge #}

                        {% set dateLimiteExpireCssClass = 'bg-danger text-white' %}   
                    {% endif %}

                    <tr>
                        <td>{{ championship.id }}</td>
                        <td class="{{ championship.isCurrentChampionship ? 'bg-success text-center"' : 'text-center' }}">{{ championship.isCurrentChampionship ? '<i class="fa-solid fa-check text-white"></i>' : '<i class="fa-solid fa-x text-danger"></i>' }}</td>

                        <td class="{{ championship.openRegistration ? 'text-center"' : 'text-center' }}">{{ championship.openRegistration ? '<i class="fa-solid fa-check text-success"></i>' : '<i class="fa-solid fa-x text-danger"></i>' }}</td>

    
                        <td>{{ championship.organizingClub.name }}</td>
                        <td>{{ championship.championshipDate ? championship.championshipDate|date('d M Y') : '' }}</td>
                        <td class="{{dateLimiteExpireCssClass}}">{{ championship.championshipInscriptionsLimitDate ? championship.championshipInscriptionsLimitDate|date('d M Y') : '' }}</td>
                        <td >{{ championship.place }}</td>
                        <td>
                            <a href="{{ path('app_admin_championship_edit', {'id': championship.id}) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('app_admin_championship_show', {'id': championship.id}) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
