{% extends 'base.html.twig' %}

{% block title %}Edit inscriptions{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Inscriptions pour {{ championship.place }} </h3>
    <p>
        <p>
        <b>Date:</b> {{ championship.championshipDate|date('d-m-Y') }}<br>
        <b>Date Limite:</b> {{ championship.championshipInscriptionsLimitDate|date('d-m-Y') }}<br>
        <b>Club Organisateur:</b> {{ championship.organizingClub }}
    </p>
    
    <a href="{{ path('app_admin_championship_index_inscriptions') }}" class="btn btn-sm btn-secondary">Retour liste championnats</a>
    
    <div class="card my-3 p-3 shadow">

        {% if 'ROLE_CLUB' in app.user.roles %}
            <div class="text-danger fst-italic mb-3">*La liste ne contient que vos licences validées. Seul L'administrateur FDO peut valider une inscription pour une licence non validée.</div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        {{ include('admin/championship/_form_inscriptions.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>
{% endblock %}
