{% extends 'base.html.twig' %}

{% block title %}Danseur index{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Index des Danseurs </h3>


    {% if app.request.get('archived') == null or app.request.get('archived') == 'false' %}  
        <div class="d-flex justify-content-between"> 
            <div> 
                <a href="{{ path('app_admin_danseur_new') }}" class="btn btn-sm btn-success mb-3">Créer un nouveau danseur</a>
            </div> 
            <div> 
                <a href="{{ path('app_admin_danseur_index', {'archived': 'true'}) }}" class="btn btn-sm btn-secondary mb-3">Danseur archivées</a>
            </div> 
        </div>
    {% else %}     
        <a href="{{ path('app_admin_danseur_index', {'archived': 'false'}) }}" class="btn btn-sm btn-secondary mb-3">Retour liste Danseurs</a>
    {% endif %}

    <!-- formulaire select -->
    {% if 'ROLE_CLUB' not in app.user.roles %}
        <div class="card my-3 p-3 shadow">
            <form action="{{ path('app_admin_danseur_index') }}" method="GET" >
                <div>
                    <label for="club" class="form-label">Club</label>
                    <select class="form-select" id="club" name="club" >
                        <option value="all">Tous les clubs</option>
                        {% for club in clubs %}
                            <option value="{{club.id}}" {{ club.id == app.request.query.get('club') ? 'selected' }}>
                                {{club.name}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-sm mt-3">Envoyer</button>
                    </div>    
                </div>
            </form>
        </div>
    {% endif %}

    <!-- card + Tableau -->
    <div class="card my-3 p-3 shadow">
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(danseurs, 'modules/pagination.html.twig') }}
            </div>
        </div>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Anniversaire</th>
                        <th>Club</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for danseur in danseurs %}
                    <tr>
                        <td>{{ danseur.id }}</td>
                        <td>{{ danseur.firstname }}</td>
                        <td>{{ danseur.lastname }}</td>
                        <td>{{ danseur.birthday ? danseur.birthday|date('d-m-Y') : '' }}</td>
                        <td>{{ danseur.club}}</td>
                        <td class="d-flex justify-content-between">
                            <div>

                            {% if is_granted('ROLE_LICENCE')  %}
                                <a href="{{ path('app_admin_danseur_edit', {'id': danseur.id}|merge(app.request.query.all) ) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{{ path('app_admin_danseur_show', {'id': danseur.id}|merge(app.request.query.all) ) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                            {% else %}
                                {% set validate = danseur.validated ? false : true %}
                                    {% if validate %}
                                        <a href="{{ path('app_admin_danseur_edit', {'id': danseur.id}|merge(app.request.query.all) ) }}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="{{ path('app_admin_danseur_show', {'id': danseur.id}|merge(app.request.query.all) ) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                                    {% else %}
                                        <a href="{{ path('app_admin_danseur_show', {'id': danseur.id}|merge(app.request.query.all) ) }}" class="mx-2"><i class="fa-solid fa-eye"></i></a>
                                    {% endif %}
                            {% endif %}
                            </div>

                            {% if is_granted('ROLE_LICENCE')  %}
                                {% set validate = danseur.validated ? false : true %}
                                <div>
                                    {% if validate %}
                                        <a href="{{ path('app_admin_danseur_validate', {'id': danseur.id, 'validate': validate, 'archived': app.request.get('archived'), 'club': app.request.get('club')  })}}" class="btn btn-success btn-sm align-end">Valider</a>
                                    {% else %}
                                        <a href="{{ path('app_admin_danseur_validate', {'id': danseur.id, 'validate': validate, 'archived': app.request.get('archived'), 'club': app.request.get('club') })}}" class="btn btn-danger btn-sm align-end">Invalider</a>
                                    {% endif %}
                                </diV>                       
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(danseurs, 'modules/pagination.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
